{% extends "base.html" %}

{% block titulo %}
    <title>Nuestra comunidad - Travel Blog</title>
{% endblock titulo %}

{% block contenido %}
    <h1>Lista de usuarios</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>

    <ul>
        {% for comunidad in comunidades %}
            <li>
                Nombre: {{ comunidad.nombre }}</p>
                Descripción: {{ comunidad.descripcion }}

                <ul>
                    {% for miembro in comunidad.miembros.all %}
                        <li>{{ miembro.nombre }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>No hay usuarios disponibles.</li>
        {% endfor %}
    </ul>
{% endblock contenido %}
