{% extends "base.html" %}

{% block titulo %}
    <title>Posts - Travel Blog</title>
{% endblock titulo %}

{% block contenido %}
    <h1>Lista de posts</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>

    <h2>Posts Disponibles:</h2>
    <ul>
        {% for post in posts %}
            <li>
                <strong>Título:</strong> {{ post.titulo }}<br>
                <strong>Contenido:</strong> {{ post.contenido }}<br>
                <strong>Fecha de Publicación:</strong> {{ post.fecha_publicacion }}<br>
                <strong>Imagen:</strong> <img src="{{ post.imagen.url }}"
            </li>
        {% empty %}
            <li>No hay posts disponibles.</li>
        {% endfor %}
    </ul>
{% endblock contenido %}
