{% extends "base.html" %}

{% block titulo %}
    <title>Destinos - Travel Blog</title>
{% endblock titulo %}

{% block contenido %}
    <h1>Lista de destinos</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    
    <ul>
        {% for destino in destinos %}
            <li>
                Nombre: {{ destino.nombre }}</p>
                Descripción: {{ destino.descripcion }}</p>
                Imagen: <img src="{{ destino.imagen.url }}">
            </li>
        {% empty %}
            <li>No hay destinos disponibles.</li>
        {% endfor %}
    </ul>
{% endblock contenido %}
